*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: linear-gradient(to top left, rgba(238,156,167,0.3),rgba(255,221,225,0.1)  );
    height: 100%;
    padding: 20px;
}

.board{
    background: linear-gradient(to bottom right, rgba(238,156,167,0.7),rgba(255,221,225,0.3));
    width: 70%;
    backdrop-filter: blur(0.5rem);
    box-shadow:  5px 5px 20px rgba(159, 43, 104,.3);
    margin: 10% auto;
    padding: 25px;
    border-radius: 2rem;
    text-align: center;
    min-height: 80%;
    justify-content: center;
    z-index: 5;
}


.circle1{
    height: 250px;
    width: 250px;
    background: linear-gradient(to bottom right, rgba(238,156,167,0.7),rgba(255,221,225,0.3) );
    border-radius: 10rem;
    position: absolute;
    top: 15%;
    left:70%;
}
.circle2{
    height: 250px;
    width: 250px;
    background: linear-gradient(to bottom right, rgba(238,156,167,0.7),rgba(255,221,225,0.3) );
    border-radius: 10rem;
    position: absolute;
    top: 60%;
    left: 15%;
}
.board{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2px;
}


.board img{
    height:270px;
    margin: 15px 15px;
    border-radius: 2rem;
    box-shadow:  5px 5px 20px rgba(159, 43, 104,.3);
    transition: all .5s;
}


img:hover{
    box-shadow:  10px 10px 50px rgba(159, 43, 104,.3);
}


@media(max-width:768px){
    .board{
        display: flex;
        flex-direction: column;

        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 25px 0;
    
    }
    img{
        margin-top: 20px
    }
    .wrapper{
      
        height: 100%;
        padding: 20px;
    }
}
@media(max-width:1080px){
    .board{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 25px 0;
    
    }
    img{
        margin-top: 20px
    }
    .wrapper{
      
        height: 100%;
        padding: 20px;
    }
}